{% load static %}
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style type="text/css">

      #banner{
        margin: 10px;
        width: 98%;
        background-color: #6F0000;
        color: #000000;
        padding: 4px;
      }
      #main{
        width: 100%;
        margin: 20px;
        color: #000000
      }
      body{
        font-family: 'Roboto', sans-serif;
        background-color: #FFFFFF
      }
      h1{
        text-align: left;
        color: #000000
      }
    </style>
    <title>WHSTMC - About</title>
  </head>
  <body>
    <div id=banner>
      <img src="{% static "Sachems-Logo-Collegate-no-text.png" %}" alt="Sachems Logo" width="132px" height="100px">
    </div>

    <div id=main>
      <h1>About</h1>
      <p id=title>THE WHS Student Time Management Calculator</p>
      <p>The WHS Student Time Management Calculator is a project created by the OC Computer Science Students. The calculator is in beta right now but is still capable of helping students estimate the amount of time they will need to spend on their classes. The data comes from a survey done by the OC Stats students that had every class provide feedback on how much time each student spends working for that class. The calculator multiplies the total time by 5/7 in order to provide an estimate of how much time a student will spend on their schoolwork per day. The end result is the average amount of hours and minutes that these classes and other activities will take.</p>
    </div>
  </body>
</html>
